<div class="survey">
	<swipe-page page="stage"><div class="page splash">

			<img class='cat' src="img/cat.jpg">	

			<h1>Privacy and Identity on Social Media: A Short Survey</h1>
			<p>
				We are running a survey in order to understand the kinds of 
				expectations for privacy that people have, and the kinds
				of strategies they use to maintain their privacy online.
			</p>
			<p>
				Participation is <b>purely anonymous</b> and <b>voluntary</b>. You may 
				withdraw from the study at any time. If you wish for us to delete all the
				data you have submitted at any time, you may email us asking to	do so with 
				the unique, randomly-generated code we will provide you on the first screen.  
				We will then delete your data and confirm this.
			</p>
			<p>
				To ensure confidentiality, we do not log anything about your visit.  All responses
				are stored on our server only with your randomly generated ID.  Furthermore, all communications 
				with the server are encrypted (via https).
			</p>			
			<div class="infobox">
				<p class='ergo'> University of Southampton 
				<br>Ethics Approval: ERGO #11458 </p>
				<p class='investigators'>  Investigators: 
					<ul>
						<li> Max Van Kleek (emax@ecs.soton.ac.uk) </li>
						<li> Daniel A. Smith (ds@ecs.soton.ac.uk)</li>
						<li> Dave Murray-Rust (d.murray-rust@ed.ac.uk)</li>
						<li> Laura Dragan (lcd@ecs.soton.ac.uk)</li>
						<li> Amy Guy (Amy.Guy@ed.ac.uk) 					
					</ul>
				</p>
			</div>

			<p>
				To participate, you <i>must</i> be at least 18 years old.  Please click the check box below to certify you are at least this age.
			</p>

			<div class="">
				<input type="checkbox" ng-model="resp.start" value="false" id="18yearsold"><label for="18yearsold"><div class="txt"> - I'm at least 18 years old and understand the above.</div></label>
			</div>

			<div class="btn-next btn btn-default" ng-disabled="!resp.start" ng-click="startSurvey()">Start the survey!</div>
			<div ng-show="!resp.start" style="color:red">
				please confirm you are 18 years old in order to proceed
			</div>

		</div><div class="page" ng-show="resp.start">

			<h1>Your unique participant ID:</h1>

			<p> We have randomly generated the following participant ID for your responses.  </p>

			<p>
				Please write this code down and keep it if you might wish to have us later retract your data or to
				prove that you completed the survey.
			</p>

			<div class="userid" ng-bind="userid"></div>

			<div class="btn-next btn btn-default" ng-click="next('q0', {})">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

		</div><div class="page" ng-show="resp.start">
			<h1> Question 1 </h1>		
			<h2> How much do you use these social media platforms? </h2>
			<div class="col1">
				<div class="likert">
					<div class="title">facebook:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.facebook=='1'}" ng-click="resp.q1.facebook=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.facebook=='2'}" ng-click="resp.q1.facebook=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.facebook=='3'}" ng-click="resp.q1.facebook=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.facebook=='4'}" ng-click="resp.q1.facebook=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.facebook=='5'}" ng-click="resp.q1.facebook=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">instagram:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.instagram=='1'}" ng-click="resp.q1.instagram=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.instagram=='2'}" ng-click="resp.q1.instagram=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.instagram=='3'}" ng-click="resp.q1.instagram=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.instagram=='4'}" ng-click="resp.q1.instagram=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.instagram=='5'}" ng-click="resp.q1.instagram=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">twitter:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.twitter=='1'}" ng-click="resp.q1.twitter=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.twitter=='2'}" ng-click="resp.q1.twitter=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.twitter=='3'}" ng-click="resp.q1.twitter=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.twitter=='4'}" ng-click="resp.q1.twitter=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.twitter=='5'}" ng-click="resp.q1.twitter=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">vine:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.vine=='1'}" ng-click="resp.q1.vine=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.vine=='2'}" ng-click="resp.q1.vine=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.vine=='3'}" ng-click="resp.q1.vine=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.vine=='4'}" ng-click="resp.q1.vine=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.vine=='5'}" ng-click="resp.q1.vine=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">youtube:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.youtube=='1'}" ng-click="resp.q1.youtube=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.youtube=='2'}" ng-click="resp.q1.youtube=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.youtube=='3'}" ng-click="resp.q1.youtube=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.youtube=='4'}" ng-click="resp.q1.youtube=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.youtube=='5'}" ng-click="resp.q1.youtube=5">5</div><div class='lbl'> - many times a day</div>
				</div>
			</div>
			<div class="col2">
				<div class="likert">
					<div class="title">grindr:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.grindr=='1'}" ng-click="resp.q1.grindr=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.grindr=='2'}" ng-click="resp.q1.grindr=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.grindr=='3'}" ng-click="resp.q1.grindr=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.grindr=='4'}" ng-click="resp.q1.grindr=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.grindr=='5'}" ng-click="resp.q1.grindr=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">tinder:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.tinder=='1'}" ng-click="resp.q1.tinder=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.tinder=='2'}" ng-click="resp.q1.tinder=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.tinder=='3'}" ng-click="resp.q1.tinder=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.tinder=='4'}" ng-click="resp.q1.tinder=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.tinder=='5'}" ng-click="resp.q1.tinder=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">yelp:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.yelp=='1'}" ng-click="resp.q1.yelp=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.yelp=='2'}" ng-click="resp.q1.yelp=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.yelp=='3'}" ng-click="resp.q1.yelp=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.yelp=='4'}" ng-click="resp.q1.yelp=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.yelp=='5'}" ng-click="resp.q1.yelp=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<div class="likert">
					<div class="title">tumblr:</div>
					<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q1.tumblr=='1'}" ng-click="resp.q1.tumblr=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q1.tumblr=='2'}" ng-click="resp.q1.tumblr=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q1.tumblr=='3'}" ng-click="resp.q1.tumblr=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q1.tumblr=='4'}" ng-click="resp.q1.tumblr=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q1.tumblr=='5'}" ng-click="resp.q1.tumblr=5">5</div><div class='lbl'> - many times a day</div>
				</div>
				<h2>any others?</h2>
				<textarea ng-model="resp.q1.other"></textarea>
			</div>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>			
			<div class="btn-next btn btn-default" ng-click="next('q1',resp.q1)">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div><div class="page" ng-show="resp.start">
			<h1> Question 2 </h1>		
			<h2> How concerned are you about your privacy online? </h2>
			<div class="likert">
				<div class='lbl'>not at all - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q2.privconcern=='1'}" ng-click="resp.q2.privconcern=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q2.privconcern=='2'}" ng-click="resp.q2.privconcern=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q2.privconcern=='3'}" ng-click="resp.q2.privconcern=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q2.privconcern=='4'}" ng-click="resp.q2.privconcern=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q2.privconcern=='5'}" ng-click="resp.q2.privconcern=5">5</div><div class='lbl'> - extremely</div>
			</div>

			<h2> How concerned would you say you were about online privacy <u>compared to your friends</u>? </h2>
			<div class="likert">
				<div class='lbl'>vastly less - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q2.privfriends=='1'}" ng-click="resp.q2.privfriends=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q2.privfriends=='2'}" ng-click="resp.q2.privfriends=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q2.privfriends=='3'}" ng-click="resp.q2.privfriends=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q2.privfriends=='4'}" ng-click="resp.q2.privfriends=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q2.privfriends=='5'}" ng-click="resp.q2.privfriends=5">5</div><div class='lbl'> - vastly more</div>
			</div>

			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next('q2',resp.q2)">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

		</div><div class="page" ng-show="resp.start">
			<h1> Question 3 - Privacy: Whom and What? </h1>		

			<h2> Indicate how much you agree with the following statements: </h2>

			<div class="likert">
				<div class="title"> I am concerned about <em>friends</em> finding out personal stuff about me I don't want them to know. </div>

				<div class='lbl'>strongly disagree - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q3.friends=='1'}" ng-click="resp.q3.friends=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q3.friends=='2'}" ng-click="resp.q3.friends=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q3.friends=='3'}" ng-click="resp.q3.friends=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q3.friends=='4'}" ng-click="resp.q3.friends=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q3.friends=='5'}" ng-click="resp.q3.friends=5">5</div><div class='lbl'> - strongly agree</div>
			</div>

			<div class="likert">
				<div class="title"> I am concerned about <em>co-workers or my boss</em> finding out personal stuff about me I don't want them to know. </div>

				<div class='lbl'>strongly disagree - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q3.coworkers=='1'}" ng-click="resp.q3.coworkers=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q3.coworkers=='2'}" ng-click="resp.q3.coworkers=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q3.coworkers=='3'}" ng-click="resp.q3.coworkers=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q3.coworkers=='4'}" ng-click="resp.q3.coworkers=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q3.coworkers=='5'}" ng-click="resp.q3.coworkers=5">5</div><div class='lbl'> - strongly agree</div>
			</div>


			<div class="likert">
				<div class="title"> I am concerned about <em>corporations</em> finding out personal stuff about me I don't want them to know. </div>

				<div class='lbl'>strongly disagree - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q3.corps=='1'}" ng-click="resp.q3.corps=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q3.corps=='2'}" ng-click="resp.q3.corps=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q3.corps=='3'}" ng-click="resp.q3.corps=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q3.corps=='4'}" ng-click="resp.q3.corps=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q3.corps=='5'}" ng-click="resp.q3.corps=5">5</div><div class='lbl'> - strongly agree</div>
			</div>

			<div class="likert">
				<div class="title"> I am concerned about <em>governments/national agencies</em> finding out personal stuff about me I don't want them to know. </div>

				<div class='lbl'>strongly disagree - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q3.govts=='1'}" ng-click="resp.q3.govts=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q3.govts=='2'}" ng-click="resp.q3.govts=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q3.govts=='3'}" ng-click="resp.q3.govts=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q3.govts=='4'}" ng-click="resp.q3.govts=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q3.govts=='5'}" ng-click="resp.q3.govts=5">5</div><div class='lbl'> - strongly agree</div>
			</div>

			<div class="likert">
				<div class="title"> I am concerned that people will come to the <em>wrong impressions</em> about me. </div>

				<div class='lbl'>strongly disagree - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q3.impression=='1'}" ng-click="resp.q3.impression=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q3.impression=='2'}" ng-click="resp.q3.impression=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q3.impression=='3'}" ng-click="resp.q3.impression=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q3.impression=='4'}" ng-click="resp.q3.impression=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q3.impression=='5'}" ng-click="resp.q3.impression=5">5</div><div class='lbl'> - strongly agree</div>
			</div>


			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

		</div><div class="page" ng-show="resp.start">

            <h1> Question 4 : Telling Untruths Online </h1>
            <h2>Have you ever told "untruths" on social media? This includes any misleading, inaccurate or ficticious information, whether only very minor, bending of the truth, or bigger things, for any reason. What did you tell "untruths" about, and why? Give examples of the kinds of "untruths" you have told (but <b>don't include any personally identifying information, please!</b>)</h2>
			<textarea ng-model="resp.q4.answer"></textarea>

			<h2> How often do you tell untruths/lies on social media? </h2>
			<div class="likert">
				<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q4.lies=='1'}" ng-click="resp.q4.lies=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q4.lies=='2'}" ng-click="resp.q4.lies=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q4.lies=='3'}" ng-click="resp.q4.lies=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q4.lies=='4'}" ng-click="resp.q4.lies=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q4.lies=='5'}" ng-click="resp.q4.lies=5">5</div><div class='lbl'> - often</div>
			</div>

			<h2> How often do you think your <i>friends</i> lie on social media <i>compared to you</i>? </h2>
			<div class="likert">
				<div class='lbl'>vastly less -  </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q4.liesfriends=='1'}" ng-click="resp.q4.liesfriends=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q4.liesfriends=='2'}" ng-click="resp.q4.liesfriends=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q4.liesfriends=='3'}" ng-click="resp.q4.liesfriends=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q4.liesfriends=='4'}" ng-click="resp.q4.liesfriends=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q4.liesfriends=='5'}" ng-click="resp.q4.liesfriends=5">5</div><div class='lbl'> - vastly more</div>
			</div>

			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>	
			<div class="btn-next btn btn-default" ng-click="next('q3',resp.q3)">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div><!--<div class="page" ng-show="resp.start"> 
            <h1> Question 4 </h1>
            <h2>Have you lied about other things besides what you were doing/where you were on social media? How often and why?</h2>
			<textarea ng-model="resp.q4.answer"></textarea>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>			
			<div class="btn-next btn btn-default" ng-click="next('q4',resp.q4)">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div>--><div class="page" ng-show="resp.start">
            <h1> Question 5: Real names and Identities </h1>
            <h2>Do you use pseudonyms on any social media platforms? Why do you do this? Do you try to hide your real name/identity?</h2>
			<textarea ng-model="resp.q5.answer"></textarea>
            <h2>Have you created any fictional personas (e.g., characters, <i>alter-egos</i>) to use on social media? If so, what for and why? (Again, <b>please do not include the names or specifics of your personas here</b>).</h2>
			<textarea ng-model="resp.q5.personas"></textarea>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>		
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div><div class="page" ng-show="resp.start"> 
            <h1> Question 6 : Deletion </h1>
            <h2>Have you ever deleted something that you posted? What made you do this? Did deleting it accomplish what you intended?</h2>
			<textarea ng-model="resp.q6.answer"></textarea>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>			
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div><div class="page" ng-show="resp.start">
            <h1> Question 7 : Privacy violations </h1>
            <h2>Have you ever felt like your privacy was compromised through social media? Can you describe briefly what happened? How did this incident change how you subsequently social media platforms? (Again, <b>please do not include personally identifying information in your answer</b>.)</h2>
			<textarea ng-model="resp.q7.answer"></textarea>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div><div class="page" ng-show="resp.start">
            <h1> Question 8 - Foursquare </h1>
            <h2>If you use foursquare, please answer the following questions:</h2>

            <h2>a. Have you ever ‘checked in’ to places you were not in? If yes, why? If not, would you consider it (and why or why not?)?</h2>
            <textarea ng-model="resp.q8.fakecheckin"></textarea>			
            <h2>b. Do you have more than one foursquare account? If so, why? </h2>
            <textarea ng-model="resp.q8.multipleacct"></textarea>			      

			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

        </div><div class="page" ng-show="resp.start">
            <h1> Question 9 - YouTube and Vlogging </h1>

            <h2>If you use YouTube, please answer the following questions:</h2>

			<div class="likert">
	            <div class="title"> How regularly do you post videos on YouTube, if ever? </div>
				<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q9.postvideos=='1'}" ng-click="resp.q9.postvideos=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q9.postvideos=='2'}" ng-click="resp.q9.postvideos=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q9.postvideos=='3'}" ng-click="resp.q9.postvideos=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q9.postvideos=='4'}" ng-click="resp.q9.postvideos=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q9.postvideos=='5'}" ng-click="resp.q9.postvideos=5">5</div><div class='lbl'> - several times a week</div>
			</div>

            <h2>Do you post videos under multiple channels?  If so, how many and why? </h2>
            <textarea ng-model="resp.q9.multiplechan"></textarea>			      

			<h2>Is there any information you choose to <i> not </i> to disclose on your YouTube channel ?  (real name, personal details, location, real identity?) Why?</h2>
            <textarea ng-model="resp.q9.infowithheld"></textarea>

			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>		
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

        </div><div class="page" ng-show="resp.start">        

            <h1> Question 10 - Tumblr </h1>

            <h2>If you keep one or more Tumblrs, please answer the following questions:</h2>

            <h2>Do you maintain multiple tumblrs?  If so, how many and why? </h2>
            <textarea ng-model="resp.q10.multipletumblrs"></textarea>			      

			<h2>Is there any information you choose to <i> not </i> to disclose on your tumblrs ?  (real name, personal details, location?) Why?</h2>
            <textarea ng-model="resp.q10.infowithheld"></textarea>

			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

        </div><div class="page" ng-show="resp.start">        

            <h1> Question 11 - Tweeting </h1>

			<div class="likert">
				<div class='title'>How regularly do you tweet? </div>
				<div class='lbl'>never - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q11.tweet=='1'}" ng-click="resp.q11.tweet=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q11.tweet=='2'}" ng-click="resp.q11.tweet=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q11.tweet=='3'}" ng-click="resp.q11.tweet=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q11.tweet=='4'}" ng-click="resp.q11.tweet=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q11.tweet=='5'}" ng-click="resp.q11.tweet=5">5</div><div class='lbl'> - several times a day</div>
			</div>

			<div class="likert">
	        	<div class='title'>How many separate twitter accounts do you maintain?</div>
				<div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q11.twitteraccts=='0'}" ng-click="resp.q11.twitteraccts=0">0</div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q11.twitteraccts=='1'}" ng-click="resp.q11.twitteraccts=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q11.twitteraccts=='2'}" ng-click="resp.q11.twitteraccts=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q11.twitteraccts=='3'}" ng-click="resp.q11.twitteraccts=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q11.twitteraccts=='4'}" ng-click="resp.q11.twitteraccts=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q11.twitteraccts=='5'}" ng-click="resp.q11.twitteraccts=5">5+</div>
			</div>

			<h2>Is there any information you choose to <i> not </i> to disclose on your twitter account ?  (personal details, location, real identity?) Why?</h2>
            <textarea ng-model="resp.q11.multipletumblrs"></textarea>			      

			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev</div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>

        </div><div class="page" ng-show="resp.start">        
            <h1> Demographic Questions </h1>
            <h2>Demographic questions, these are optional but help us to analyse answers.</h2>
			<div class="col1">
                <div class="likert">
                    <div class="title">What is your age:</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.age=='18-25'}" ng-click="resp.q12.age='18-25'">18-25</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.age=='26-35'}" ng-click="resp.q12.age='26-35'">26-35</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.age=='36-60'}" ng-click="resp.q12.age='36-60'">36-60</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.age=='61-80'}" ng-click="resp.q12.age='61-80'">61-80</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.age=='81+'}" ng-click="resp.q12.age='81+'">81+</div>
                </div>
                <div class="likert">
                    <div class="title">What is your gender:</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.gender=='undisclosed'}" ng-click="resp.q12.gender='undisclosed'">Undisclosed</div>
                    <div ng-class="{btn:true, 'btn-default':true, bluebg:true, 'active': resp.q12.gender=='disclosed'}" ng-click="resp.q12.gender='disclosed'">Disclosed:</div>
                    <input ng-model="resp.q12.genderdisclosed" type='text' />
                </div>
            </div><div class="col2">
                <h2>How much time do you use accessing social media, on average?</h2> 

                <div class="likert">
                    <div class="title">On the web</div>
                    <div class='lbl'>no time - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q12.smweb=='1'}" ng-click="resp.q12.smweb=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q12.smweb=='2'}" ng-click="resp.q12.smweb=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q12.smweb=='3'}" ng-click="resp.q12.smweb=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q12.smweb=='4'}" ng-click="resp.q12.smweb=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q12.smweb=='5'}" ng-click="resp.q12.smweb=5">5</div><div class='lbl'> - at least a few hours per day</div>
                </div>

                <div class="likert">
                    <div class="title">On a mobile phone</div>
                    <div class='lbl'>no time - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q12.smphone=='1'}" ng-click="resp.q12.smphone=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q12.smphone=='2'}" ng-click="resp.q12.smphone=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q12.smphone=='3'}" ng-click="resp.q12.smphone=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q12.smphone=='4'}" ng-click="resp.q12.smphone=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q12.smphone=='5'}" ng-click="resp.q12.smphone=5">5</div><div class='lbl'> - at least a few hours per day</div>
                </div>

                <div class="likert">
                    <div class="title">On a tablet or other device</div>
                    <div class='lbl'>no time - </div><div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':resp.q12.smtabletother=='1'}" ng-click="resp.q12.smtabletother=1">1</div><div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':resp.q12.smtabletother=='2'}" ng-click="resp.q12.smtabletother=2">2</div><div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':resp.q12.smtabletother=='3'}" ng-click="resp.q12.smtabletother=3">3</div><div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':resp.q12.smtabletother=='4'}" ng-click="resp.q12.smtabletother=4">4</div><div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':resp.q12.smtabletother=='5'}" ng-click="resp.q12.smtabletother=5">5</div><div class='lbl'> - at least a few hours per day</div>
                </div>
            </div>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
        </div><div class="page" ng-show="resp.start">
            <h1> Demographic Questions - 2 </h1>
            <h2>Which of the following sectors best describe your occupation(s)?</h2>
                <div class="col1">
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a1" id="qwa1"><label class="txt" for="qwa1">(Undisclosed)</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a2" id="qwa2"><label class="txt" for="qwa2">Student</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a3" id="qwa3"><label class="txt" for="qwa3">Full-time parent</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a4" id="qwa4"><label class="txt" for="qwa4">Unemployed</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a5" id="qwa5"><label class="txt" for="qwa5">Self Employed/Other</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a6" id="qwa6"><label class="txt" for="qwa6">Management occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a7" id="qwa7"><label class="txt" for="qwa7">Business and financial operations occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a8" id="qwa8"><label class="txt" for="qwa8">Computer and mathematical occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a9" id="qwa9"><label class="txt" for="qwa9">Architecture and engineering occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a10" id="qwa10"><label class="txt" for="qwa10">Life, physical, and social science occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a11" id="qwa11"><label class="txt" for="qwa11">Community and social services occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a12" id="qwa12"><label class="txt" for="qwa12">Legal occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a13" id="qwa13"><label class="txt" for="qwa13">Education, training, and library occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a14" id="qwa14"><label class="txt" for="qwa14">Arts and design occupations</label></div>
                </div><div class="col2">
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a15" id="qwa15"><label class="txt" for="qwa15">Healthcare practitioners and technical occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a16" id="qwa16"><label class="txt" for="qwa16">Healthcare support occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a17" id="qwa17"><label class="txt" for="qwa17">Protective service occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a18" id="qwa18"><label class="txt" for="qwa18">Food preparation and serving related occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a19" id="qwa19"><label class="txt" for="qwa19">Building, grounds cleaning and maintenance occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a20" id="qwa20"><label class="txt" for="qwa20">Personal care and service occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a21" id="qwa21"><label class="txt" for="qwa21">Sales and related occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a22" id="qwa22"><label class="txt" for="qwa22">Office and administrative support occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a23" id="qwa23"><label class="txt" for="qwa23">Farming, fishing, and forestry occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a24" id="qwa24"><label class="txt" for="qwa24">Construction and extraction occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a25" id="qwa25"><label class="txt" for="qwa25">Installation, maintenance, and repair occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a26" id="qwa26"><label class="txt" for="qwa26">Production occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a27" id="qwa27"><label class="txt" for="qwa27">Transportation and material moving occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q13.a28" id="qwa28"><label class="txt" for="qwa28">Military specific occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q14.a29" id="qwa29"><label class="txt" for="qwa28">Sports occupations</label></div>
                    <div class="checkboxinput"><input type="checkbox" ng-model="resp.q15.a30" id="qwa30"><label class="txt" for="qwa28">Media and entertainment occupations</label></div>
                </div>
			<div class="btn-prev btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> Prev </div>
			<div class="btn-next btn btn-default" ng-click="next()">Next <span class="glyphicon glyphicon-chevron-right"></span></div>
		</div><div class="page" ng-show="resp.start">

			<img class='cat' src="img/cat-begging.jpg">

			<h1>Thank You!</h1>

			<h2> You're done with the survey. </h2>

			<p>
				We would very much appreciate it if you could spread the word about the survey. 
				Check back here to find a summary of results. Once again, feel free to contact
				us if you have questions or comments using the contact info below.
			</p>

			<p>
				Thanks, Max, Dan, Dave, Amy and Laura.
			</p>

			<div class='infobox'>Investigators: 
				<ul>
					<li> Max Van Kleek (emax@ecs.soton.ac.uk) 
					<li> Daniel A. Smith (ds@ecs.soton.ac.uk)
					<li> Dave Murray-Rust (d.murray-rust@ed.ac.uk)
					<li> Laura Dragan (lcd@ecs.soton.ac.uk)
					<li> Amy Guy (Amy.Guy@ed.ac.uk) 					
				</ul>
			</div>
			<div>
				Please feel free to contact us at any of the above addresses if you have questions	or concerns.
			</div>
			<div class="btn btn-default" style="float:right" ng-click="startOver()"> Start Again (new person) <span class="glyphicon glyphicon-random"></span></div>
		</div></swipe-page>
</div>
