<div class="survey">
	<swipe-page pageid="stage">
		<div class="page">
			<h1>welcome to our survey</h1>
			<div class="btn-next btn btn-default" ng-click="startSurvey()">Start survey</div>
		</div>
		<div class="page">
			<h1> Question 1 </h1>		
			<h2> How much do you use these social media platforms? </h2>		\
			<div class="qlabel">Facebook:</div><div class="btn-group likert">
				<div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':hdif.feel=='1'}" ng-click="sethdif('feel','1')">1 -never </div>
				<div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':hdif.feel=='2'}" ng-click="sethdif('feel','2')">2</div>
				<div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':hdif.feel=='3'}" ng-click="sethdif('feel','3')">3</div>
				<div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':hdif.feel=='4'}" ng-click="sethdif('feel','4')">4</div>
				<div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':hdif.feel=='5'}" ng-click="sethdif('feel','5')">5 -many times a day&nbsp;&nbsp;</div>
			</div>
		</div>
		<div class="page">
			<h1> question 2 </h1>
			<h2> blah blah blah </h2>
			<textarea ng-model="blah"></textarea>
		</div>
		<div class="page">
			<h1>You're done! Thank you for taking part!</h1>
		</div>
	</swipe-page>
</div>